<div class="comment-content">
  <header>
    <a class="username" href="#">{{comment.data.author}}</a>
    {{!-- <span class="timestamp">{{comment.data.created_utc}}</span> --}}
  </header>

  <p class="body">
    {{comment.data.body}}
  </p>

  <footer>
    <button class="vote up" {{action 'vote' comment "1"}}></button>
    <span class="score">{{comment.data.score}}</span>
    <button class="vote down" {{action 'vote' comment "-1"}}></button>
    <button class="reply" {{action 'auth'}}>Reply</button>
  </footer>
</div>

{{#if comment.data.replies}}
  {{sibling-comments comments=comment.data.replies.data.children reddit=reddit accessToken=accessToken}}
{{/if}}
